<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">All posts</a></li>
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}topics/">Index</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}liveries/">Liveries</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}statscalculator/">VStats</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About</a></li>
</ul>

