<ul class="nav" role="menu">
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}airportdistances/">Airport Distances</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}liveries/">Liveries</a></li>
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}math_docs/">Math Docs</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}nytimesgames/">NY Times Games</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}vcsv/">VCSV</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}vstats/">VStats</a></li>
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}index/">Index</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About</a></li>
</ul>